body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#f3dec8;
    color:darkcyan;
}

h1, h2, h3,h4,h5,h6
{font-family:Oswald;
color:#368096;
}
h1 {font-size:44pt;text-align: center;color:rgb(46, 27, 13) }
h2 {font-size:36pt;text-align: left;color:saddlebrown;font-style: italic;font;text-decoration: underline;}
h3 {font-size:34pt;text-align: center;}
h4 {font-size:18pt;text-align: left;}

header {text-align: center;}

#hero,footer {text-align: center;
   font-family: Arial, Helvetica, sans-serif;
    background-color: #dfba96;
    border: 10px solid #368096;
    padding: 10px;
    font-size: 18pt;
    font-style: italic;
    font-weight: bold;
    color:black;}

    #hero img {width: 300px;}

    #bio {text-align:left;
        font-family: Oswald;
    font-size:14pt;
    font-weight:bolder;}

    #li {text-align:left;font-family: Oswald;
    font-size:14pt;font-weight:lighter}

    #figcaption {text-align:left;font-family: Oswald;
        font-size:14pt;font-weight:lighter;color: rosybrown;font-weight: normal;}